*{
    font-family: 'Poppins', sans-serif;
}

.nav-links{
    .link-hover{
        text-decoration: none;
        color: #888888;
        display: inline-block;
        padding: 10px 20px;
        transition: 0.3s all ease-in-out;

        &:hover{
            transition: 0.3s all ease-in-out;
            background-color: #eeeeee;
        }

    }
    .footer-link{
        text-decoration: none;
        color: #888888;
        display: block;
        padding: 10px 20px;
        transition: 0.3s all ease-in-out;

        &:hover{
            transition: 0.3s all ease-in-out;
            background-color: #eeeeee;
        }
    }
}

.cart-body{
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100vh;
    background-color: #ffffff;
    transition: 0.3s all ease-in-out;

    &.active{
        right: 0;
        transition: 0.3s all ease-in-out;
        box-shadow: 0 0 8px 0 #888888;
        z-index: 999999;
    }

    .cart-header{
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        border-bottom: 1px solid #eeeeee;

        .cart-title{
            font-weight: bold;
            font-size: 20px;
        }

        .cart-close{
            text-decoration: none;
            color: #000000;
            padding: 5px 10px;
            border-radius: 10px;
            display: inline-block;
            transition: 0.4s all ease-in-out;
            font-weight: bold;

            &:hover{
                transition: 0.4s all ease-in-out;
                background-color: #eeeeee;
                box-shadow: 0 0 12px 0 #888888;
            }

        }

    }

    .cart-items{
        height: calc(100vh - 140px);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cart-footer{
        height: 70px;

        .btn-checkout{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 70px;
            background-color: #cf2a0e;
            color: #ffffff;
            text-decoration: none;
        }

    }

}

.banner {
    position: relative;

    .owl-dots {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding-bottom: 10px;
    }

    .item {

        img {
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
            object-fit: cover;
            height: 600px;
        }

    }

}

.area-section {

    .area-image {
        transition: 1s all ease-in-out;
        transform: scale(1);

        &:hover {
            transition: 1s all ease-in-out;
            transform: scale(1.3);
        }

    }

}

.product-section {

    .item {

        .image {
            position: relative;
            height: 400px;
            overflow: hidden;

            img {
                object-fit: cover;
            }

            &:hover {

                .image-front {
                    visibility: hidden;
                    opacity: 0;
                    transition: 0.5s all ease-in-out;
                    object-fit: cover;
                }

                .image-back {
                    visibility: visible;
                    opacity: 1;
                    transition: 0.5s all ease-in-out;
                    object-fit: cover;
                }

                .btn-position {
                    visibility: visible;
                    opacity: 1;
                    transition: 0.5s all ease-in-out;
                    padding-right: 20px;
                }

                .select-option {
                    visibility: visible;
                    opacity: 1;
                    transition: 0.5s all ease-in-out;
                }

            }

            .image-front {
                position: absolute;
                visibility: visible;
                opacity: 1;
                transition: 0.5s all ease-in-out;
                object-fit: cover;
            }

            .image-back {
                position: absolute;
                visibility: hidden;
                opacity: 0;
                transition: 0.5s all ease-in-out;
                object-fit: cover;
            }

            .btn-position {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 2;
                padding: 10px;
                visibility: hidden;
                opacity: 0;
                transition: 0.5s all ease-in-out;

                .btn-wish {
                    display: block;
                    text-decoration: none;
                    color: #888888;
                    margin-bottom: 10px;
                    transition: 0.5s all ease-in-out;

                    &:hover {
                        color: #cf2a0e;
                    }

                }

                .btn-cart {
                    display: block;
                    text-decoration: none;
                    color: #888888;
                    transition: 0.5s all ease-in-out;

                    &:hover {
                        color: #000000;
                    }

                }

            }

            .select-option {
                position: absolute;
                bottom: 30px;
                left: 30px;
                right: 30px;
                z-index: 2;
                visibility: hidden;
                opacity: 0;
                transition: 0.5s all ease-in-out;
                padding: 10px;
                text-decoration: none;
                background-color: #000000;
                color: #ffffff;
                text-align: center;
            }

        }

        .sm-photo {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 10px;
            cursor: pointer;

            img {
                object-fit: cover;
            }

        }

    }

}

.feature-section {

    .feature-image {
        position: relative;
        height: 650px;

        @media screen and (max-width: 575px) {
            height: 550px;
        }

        .image-front {
            position: absolute;
            right: 0;
            top: 0;
            box-shadow: 0 0 8px 0 #888888;
            border-radius: 5px;
            transition: 0.4s all ease-in-out;

            @media screen and (max-width: 575px) {
                height: 250px;
            }
        }

        .image-middle {
            position: absolute;
            right: 160px;
            top: 70px;
            box-shadow: 0 0 8px 0 #888888;
            border-radius: 5px;
            transition: 0.4s all ease-in-out;

            @media screen and (max-width: 1200px) {
                right: 110px;
            }

            @media screen and (max-width: 991px) {
                top: 120px;
                right: 160px;
            }

            @media screen and (max-width: 786px) {
                right: 110px;
            }

            @media screen and (max-width: 650px) {
                top: 180px;
                right: 160px;
                height: 320px;
            }

            @media screen and (max-width: 575px) {
                height: 250px;
                right: 120px;
                top: 70px;
            }

            @media screen and (max-width: 445px) {
                top: 120px;
                right: 80px;
            }

        }

        .image-back {
            position: absolute;
            right: 380px;
            top: 250px;
            box-shadow: 0 0 8px 0 #888888;
            border-radius: 5px;
            transition: 0.4s all ease-in-out;

            @media screen and (max-width: 1200px) {
                right: 320px;
            }

            @media screen and (max-width: 991px) {
                right: 380px;
            }

            @media screen and (max-width: 786px) {
                right: 320px;
            }

            @media screen and (max-width: 650px) {
                top: 290px;
                height: 260px;
            }

            @media screen and (max-width: 575px) {
                height: 250px;
                right: 220px;
                top: 180px;
            }

            @media screen and (max-width: 445px) {
                top: 240px;
                right: 150px;
            }

        }

    }

}

.cover-section {

    img {
        transform: scale(1);
        transition: 1s all ease-in-out;
    }

    &:hover {

        img {
            transform: scale(1.2);
            transition: 1s all ease-in-out;
        }

    }

}

.blog-section{

    img{
        transform: scale(1);
        transition: 0.8s all ease-in-out;

        &:hover{
            transform: scale(1.5);
            transition: 0.8s all ease-in-out;
        }

    }

}

